# requirements.txt

fastapi
uvicorn
streamlit

langchain
langchain-community
langchain-core
langchain-groq

langgraph

chromadb

sentence-transformers

pypdf

python-dotenv

pandas
numpy
scikit-learn

huggingface-hub

tiktoken

requests

python-multipart
